:root{
    --col-count: 30px;
}

.chain{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.col{
    flex-basis: 100%;
    padding: 20px calc(var(--col-count) / 2);
}

@media screen and (min-width: 360px) {
    .col-xs-1 {
        flex-basis: calc(1 * 100% / 24);
    }
    .col-xs-2 {
        flex-basis: calc(2 * 100% / 24);
    }
    .col-xs-3 {
        flex-basis: calc(3 * 100% / 24);
    }
    .col-xs-4 {
        flex-basis: calc(4 * 100% / 24);
    }
    .col-xs-5 {
        flex-basis: calc(5 * 100% / 24);
    }
    .col-xs-6 {
        flex-basis: calc(6 * 100% / 24);
    }
    .col-xs-7 {
        flex-basis: calc(7 * 100% / 24);
    }
    .col-xs-8 {
        flex-basis: calc(8 * 100% / 24);
    }
    .col-xs-9 {
        flex-basis: calc(9 * 100% / 24);
    }
    .col-xs-10 {
        flex-basis: calc(10 * 100% / 24);
    }
    .col-xs-11 {
        flex-basis: calc(11 * 100% / 24);
    }
    .col-xs-12 {
        flex-basis: calc(12 * 100% / 24);
    }
    .col-xs-13 {
        flex-basis: calc(13 * 100% / 24);
    }
    .col-xs-14 {
        flex-basis: calc(14 * 100% / 24);
    }
    .col-xs-15 {
        flex-basis: calc(15 * 100% / 24);
    }
    .col-xs-16 {
        flex-basis: calc(16 * 100% / 24);
    }
    .col-xs-17 {
        flex-basis: calc(17 * 100% / 24);
    }
    .col-xs-18 {
        flex-basis: calc(18 * 100% / 24);
    }
    .col-xs-19 {
        flex-basis: calc(19 * 100% / 24);
    }
    .col-xs-20 {
        flex-basis: calc(20 * 100% / 24);
    }
    .col-xs-21 {
        flex-basis: calc(21 * 100% / 24);
    }
    .col-xs-22 {
        flex-basis: calc(22 * 100% / 24);
    }
    .col-xs-23 {
        flex-basis: calc(23 * 100% / 24);
    }
    .col-xs-24 {
        flex-basis: calc(24 * 100% / 24);
    } 

}


@media screen and (min-width: 576px) {
    .col-sm-1 {
        flex-basis: calc(1 * 100% / 24);
    }
    .col-sm-2 {
        flex-basis: calc(2 * 100% / 24);
    }
    .col-sm-3 {
        flex-basis: calc(3 * 100% / 24);
    }
    .col-sm-4 {
        flex-basis: calc(4 * 100% / 24);
    }
    .col-sm-5 {
        flex-basis: calc(5 * 100% / 24);
    }
    .col-sm-6 {
        flex-basis: calc(6 * 100% / 24);
    }
    .col-sm-7 {
        flex-basis: calc(7 * 100% / 24);
    }
    .col-sm-8 {
        flex-basis: calc(8 * 100% / 24);
    }
    .col-sm-9 {
        flex-basis: calc(9 * 100% / 24);
    }
    .col-sm-10 {
        flex-basis: calc(10 * 100% / 24);
    }
    .col-sm-11 {
        flex-basis: calc(11 * 100% / 24);
    }
    .col-sm-12 {
        flex-basis: calc(12 * 100% / 24);
    }
    .col-sm-13 {
        flex-basis: calc(13 * 100% / 24);
    }
    .col-sm-14 {
        flex-basis: calc(14 * 100% / 24);
    }
    .col-sm-15 {
        flex-basis: calc(15 * 100% / 24);
    }
    .col-sm-16 {
        flex-basis: calc(16 * 100% / 24);
    }
    .col-sm-17 {
        flex-basis: calc(17 * 100% / 24);
    }
    .col-sm-18 {
        flex-basis: calc(18 * 100% / 24);
    }
    .col-sm-19 {
        flex-basis: calc(19 * 100% / 24);
    }
    .col-sm-20 {
        flex-basis: calc(20 * 100% / 24);
    }
    .col-sm-21 {
        flex-basis: calc(21 * 100% / 24);
    }
    .col-sm-22 {
        flex-basis: calc(22 * 100% / 24);
    }
    .col-sm-23 {
        flex-basis: calc(23 * 100% / 24);
    }
    .col-sm-24 {
        flex-basis: calc(24 * 100% / 24);
    } 

}

@media screen and (min-width: 768px) {
    .col-md-1 {
        flex-basis: calc(1 * 100% / 24);
    }
    .col-md-2 {
        flex-basis: calc(2 * 100% / 24);
    }
    .col-md-3 {
        flex-basis: calc(3 * 100% / 24);
    }
    .col-md-4 {
        flex-basis: calc(4 * 100% / 24);
    }
    .col-md-5 {
        flex-basis: calc(5 * 100% / 24);
    }
    .col-md-6 {
        flex-basis: calc(6 * 100% / 24);
    }
    .col-md-7 {
        flex-basis: calc(7 * 100% / 24);
    }
    .col-md-8 {
        flex-basis: calc(8 * 100% / 24);
    }
    .col-md-9 {
        flex-basis: calc(9 * 100% / 24);
    }
    .col-md-10 {
        flex-basis: calc(10 * 100% / 24);
    }
    .col-md-11 {
        flex-basis: calc(11 * 100% / 24);
    }
    .col-md-12 {
        flex-basis: calc(12 * 100% / 24);
    }
    .col-md-13 {
        flex-basis: calc(13 * 100% / 24);
    }
    .col-md-14 {
        flex-basis: calc(14 * 100% / 24);
    }
    .col-md-15 {
        flex-basis: calc(15 * 100% / 24);
    }
    .col-md-16 {
        flex-basis: calc(16 * 100% / 24);
    }
    .col-md-17 {
        flex-basis: calc(17 * 100% / 24);
    }
    .col-md-18 {
        flex-basis: calc(18 * 100% / 24);
    }
    .col-md-19 {
        flex-basis: calc(19 * 100% / 24);
    }
    .col-md-20 {
        flex-basis: calc(20 * 100% / 24);
    }
    .col-md-21 {
        flex-basis: calc(21 * 100% / 24);
    }
    .col-md-22 {
        flex-basis: calc(22 * 100% / 24);
    }
    .col-md-23 {
        flex-basis: calc(23 * 100% / 24);
    }
    .col-md-24 {
        flex-basis: calc(24 * 100% / 24);
    }
  }
  /* 992-1199*/
  @media screen and (min-width: 992px) {
    .col-lg-1 {
        flex-basis: calc(1 * 100% / 24);
    }
    .col-lg-2 {
        flex-basis: calc(2 * 100% / 24);
    }
    .col-lg-3 {
        flex-basis: calc(3 * 100% / 24);
    }
    .col-lg-4 {
        flex-basis: calc(4 * 100% / 24);
    }
    /* .col-lg-4.8 {
        flex-basis: calc(4.8 * 100% / 24);
    }  */
    .col-lg-5 {
        flex-basis: calc(5 * 100% / 24);
    }
    .col-lg-6 {
        flex-basis: calc(6 * 100% / 24);
    }
    .col-lg-7 {
        flex-basis: calc(7 * 100% / 24);
    }
    .col-lg-8 {
        flex-basis: calc(8 * 100% / 24);
    }
    .col-lg-9 {
        flex-basis: calc(9 * 100% / 24);
    }
    .col-lg-10 {
        flex-basis: calc(10 * 100% / 24);
    }
    .col-lg-11 {
        flex-basis: calc(11 * 100% / 24);
    }
    .col-lg-12 {
        flex-basis: calc(12 * 100% / 24);
    }
    .col-lg-13 {
        flex-basis: calc(13 * 100% / 24);
    }
    .col-lg-14 {
        flex-basis: calc(14 * 100% / 24);
    }
    .col-lg-15 {
        flex-basis: calc(15 * 100% / 24);
    }
    .col-lg-16 {
        flex-basis: calc(16 * 100% / 24);
    }
    .col-lg-17 {
        flex-basis: calc(17 * 100% / 24);
    }
    .col-lg-18 {
        flex-basis: calc(18 * 100% / 24);
    }
    .col-lg-19 {
        flex-basis: calc(19 * 100% / 24);
    }
    .col-lg-20 {
        flex-basis: calc(20 * 100% / 24);
    }
    .col-lg-21 {
        flex-basis: calc(21 * 100% / 24);
    }
    .col-lg-22 {
        flex-basis: calc(22 * 100% / 24);
    }
    .col-lg-23 {
        flex-basis: calc(23 * 100% / 24);
    }
    .col-lg-24 {
        flex-basis: calc(24 * 100% / 24);
    }
  }
  /* 1200-... */ 
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
        flex-basis: calc(1 * 100% / 24);
    }
    .col-xl-2 {
        flex-basis: calc(2 * 100% / 24);
    }
    .col-xl-3 {
        flex-basis: calc(3 * 100% / 24);
    }
    .col-xl-4 {
        flex-basis: calc(4 * 100% / 24);
    }
    .col-xl-5 {
        flex-basis: calc(5 * 100% / 24);
    }
    .col-xl-6 {
        flex-basis: calc(6 * 100% / 24);
    }
    .col-xl-7 {
        flex-basis: calc(7 * 100% / 24);
    }
    .col-xl-8 {
        flex-basis: calc(8 * 100% / 24);
    }
    .col-xl-9 {
        flex-basis: calc(9 * 100% / 24);
    }
    .col-xl-10 {
        flex-basis: calc(10 * 100% / 24);
    }
    .col-xl-11 {
        flex-basis: calc(11 * 100% / 24);
    }
    .col-xl-12 {
        flex-basis: calc(12 * 100% / 24);
    }
    .col-xl-13 {
        flex-basis: calc(13 * 100% / 24);
    }
    .col-xl-14 {
        flex-basis: calc(14 * 100% / 24);
    }
    .col-xl-15 {
        flex-basis: calc(15 * 100% / 24);
    }
    .col-xl-16 {
        flex-basis: calc(16 * 100% / 24);
    }
    .col-xl-17 {
        flex-basis: calc(17 * 100% / 24);
    }
    .col-xl-18 {
        flex-basis: calc(18 * 100% / 24);
    }
    .col-xl-19 {
        flex-basis: calc(19 * 100% / 24);
    }
    .col-xl-20 {
        flex-basis: calc(20 * 100% / 24);
    }
    .col-xl-21 {
        flex-basis: calc(21 * 100% / 24);
    }
    .col-xl-22 {
        flex-basis: calc(22 * 100% / 24);
    }
    .col-xl-23 {
        flex-basis: calc(23 * 100% / 24);
    }
    .col-xl-24 {
        flex-basis: calc(24 * 100% / 24);
    }
}   